:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* #region base */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion base */

/* #region common */
.container {
  padding: 0 16px;
  width: 320px;
  margin: 0 auto;
  outline: 1px solid green;
  outline-offset: -1px;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    padding: 0 15px;
    width: 1158px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.hide {
  display: none;
}
/* #endregion common */

/* #region hweader */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-span {
  color: var(--navy-blue);
}
/* nav */
.nav {
  align-items: center;
}
.nav-list {
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active:nth-child(1) {
  color: #404bbf;
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: var(--ocean);
}
.nav-item > a:hover {
  color: var(--ocean);
}
.nav-link:active,
.address-link:active {
  color: var(--ocean);
}
.nav-link:focus,
.address-link:focus {
  color: var(--ocean);
}
.address {
  font-style: normal;
}
.address-list {
  gap: 40px;
}
.address-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item > a:hover {
  color: var(--ocean);
}
/* #endregion hweader */

/* #region hero */
.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}
.hero-container {
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.hero-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.hero-button {
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
.hero-button:focus {
  background-color: var(--ocean);
}
/* #endregion hero */

/* #region skills */

.skills-list {
  gap: 72px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .skills-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .skills-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.skills-item {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .skills-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .skills-item {
    width: calc((100% - 72px) / 4);
  }
}
.skills-svg-wrap {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 8px;
  background-color: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}
@media only screen and (max-width: 1157.98px) {
  .skills-svg-wrap {
    display: none;
  }
}
.skills-icon {
  display: block;
  margin: 0 auto;
}
.skills-sub-title {
  margin-bottom: 8px;
}

.team-sub-title,
.portfolio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.skills-sub-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.skills-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
@media only screen and (min-width: 768px) {
  .skills-sub-title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .skills-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .skills-text {
    font-weight: 400;
  }
}

/* #endregion skills */

/* #region team */

.team {
  background-color: var(--cloud);
}
.team-list {
  gap: 72px;
  align-items: center;
}
.team-item {
  width: 264px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}
.team-item-desc {
  align-items: center;
  padding: 32px 0;
}
.team-text,
.portfolio-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.team-sub-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.team-list-icons {
  gap: 24px;
  justify-content: center;
}
.team-link-icon,
.footer-link-icon {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  color: var(--cloud);
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon,
.footer-icon {
  fill: currentColor;
}
.team-link-icon:hover,
.team-link-icon:focus {
  background-color: var(--ocean);
}
/* #endregion team */

/* #region portfolio */

.portfolio-list {
  gap: 48px;
}
.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-block {
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 40px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--iris);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-item-desc {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
  width: 100%;
  height: 120px;
}
.portfolio-sub-title {
  margin-bottom: 8px;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* #endregion portfolio */

/* #region footer */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.footer .container,
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer .container {
    align-items: start;
  }
  .footer-top {
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
    justify-content: start;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer .container {
    padding: 0 108px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1158px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }
  .footer-top {
    flex-wrap: nowrap;
  } 
}
.footer-desc {
  width: 288px;
}
.footer-logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
}
.footer-logo .logo-span {
  color: var(--cloud);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 264px;
}
.footer-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
}
.footer-soc-list {
  width: 208px;
  gap: 16px;
}
.footer-list-icons {
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-desc {
    width: 264px;
  }
  .footer-logo,
  .footer-caption {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-desc {
    margin-right: 120px;
  }
  .footer-soc-list{
    flex-wrap: nowrap;
    margin-right: 80px;
  }
}
.footer-subscribe {
  align-self: stretch;
}
.footer-subscribe,
.footer-subscribe-form {
  gap: 16px;
}
.footer-input-info {
  border: 1px solid #fff;
  border-radius: 4px;

  height: 40px;
  width: 100%;
  align-self: stretch;
  padding-left: 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  outline: transparent;
  color: var(--white);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input-info:focus{
  opacity: 1;
}
.footer-input-info::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .footer-input-info {
    width: 264px;
  }
  .footer-subscribe {
    align-items: start;
  }
  .footer-subscribe-form {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-input-info {
    opacity: 1;
  }
  .footer-subscribe {
    max-width: 453px;
  }
  .footer-subscribe-form {
    flex-wrap: nowrap;
  }
}
.footer-btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  position: relative;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.footer-btn-icon {
  margin-left: 16px;
}
.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
  background-color: var(--ocean);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--green);
}

/* #endregion footer */

/* #region modal */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--dairy);
  padding: 24px;
  padding-top: 72px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--white);
}
.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-form {
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field:nth-child(4) {
  margin-bottom: 16px;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}
.input-box {
  position: relative;
}
.modal-input-info,
.modal-textarea {
  width: 100%;
  color: var(--navy-blue);
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-info {
  height: 40px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  resize: none;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-info:focus,
.modal-textarea:focus {
  border-color: var(--ocean);
  border-color: #4d5ae5;
}
.modal-input-info:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}
.modal-privacy-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-checkbox {
  opacity: 0;
  fill: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-blue-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
  cursor: pointer;
}

input[type="checkbox"]:checked + .modal-privacy-label > .modal-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: #f4f4fd;
}
input[type="checkbox"]:checked
  + .modal-privacy-label
  > .modal-checkbox
  > .icon-checkbox {
  opacity: 1;
}
.modal-submit-btn {
  display: block;
  width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--ocean);
}
/* #endregion backdrop */
